    <nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark mb-3">
        <div class="container">
          <a class="navbar-brand me-auto" th:href="@{/}">WebOCR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-2">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" th:href="@{/pdf-converter}">PDF</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" th:href="@{/word-converter}">Word</a>
              </li>
              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Drop
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" th:href="@{?lang=en}">Ru</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item px-2">
                <select id="locales" class="form-select text-white bg-dark" aria-label=".form-select-sm example" style="border: none;">
                  <option value="en">en</option>
                  <option value="kg">kg</option>
                  <option selected value="ru">ru</option>
                </select>  
              </li>
              <li class="nav-item px-2" sec:authorize="!isAuthenticated()">                
                <a class="btn btn-primary" th:href="@{/login}" role="button" th:text="#{login}"></a>
              </li>
              <li class="nav-item px-2" sec:authorize="!isAuthenticated()">                
                <a class="btn btn-primary" th:href="@{/sign-up}" role="button" th:text="#{signup}"></a>
              </li>
              <li class="nav-item px-4" sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <a th:fragment="back-button" class="link-primary d-inline-block mb-2" th:href="@{/}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        <span class="fs-5">Back</span>
      </a>